body {
  background-image: url('../IMAGENES/fondoFrontend.jpg');
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center; /* Posiciona la imagen en el centro */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}


.navbar-custom {
  background-color: #2c3e50;
  transition: all 0.3s ease-in-out;
  padding: 15px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(135deg, #1a252f 50%, #34495e 50%);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: #ecf0f1;
  font-size: 1.1em;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-nav .nav-link:hover {
  color: #e74c3c;
  transform: translateY(-2px);
}

.navbar-custom .navbar-toggler {
  border-color: #ecf0f1;
  background-color: rgba(236, 240, 241, 0.1);
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236, 240, 241, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.logo {
  width: 95px;
  height: auto;
  animation: moverLogo 4.5s infinite alternate;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: rotate(-10deg);
}

@keyframes moverLogo {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-right: 15px;
}

.navbar-nav .nav-item::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e74c3c;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-nav .nav-item:hover::after {
  transform: scaleX(1);
}

@media (max-width: 768px) {
  .navbar-custom {
    padding: 10px 15px;
  }

  .navbar-nav .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

h1 {
  font-size: 50px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  color: #333; /* Color del texto */
  margin-bottom: 20px; /* Margen inferior */
  text-align: center; /* Alineación del texto */
  text-transform:none; /* Transformación del texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  line-height: 1.5; /* Altura de línea */
  font-family: serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

/* Estilo adicional para el elemento h1 en dispositivos móviles */
@media (max-width: 768px) {
  h1 {
    font-size: 28px; /* Reducir tamaño de fuente en dispositivos móviles */
  }
}

.about-us-section {
  background-color: transparent;
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.about-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-text {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 800px;
}

.about-us-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

.about-us-text p:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .about-us-section {
    padding: 40px 0;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .about-us-text {
    padding: 20px;
  }

  .about-us-text p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.8rem;
  }

  .about-us-text {
    padding: 15px;
  }

  .about-us-text p {
    font-size: 0.85rem;
  }
}



/* Estilos para el contenedor del carrusel */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Aumenté el ancho máximo para mayor visibilidad */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #fff; /* Fondo blanco */
}

/* Estilos para los slides del carrusel */
.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Estilos para las imágenes dentro de los slides */
.carousel-slide img {
  flex: 0 0 100%;
  max-width: 100%;
  height: auto;
  border-radius: 1rem; /* Bordes redondeados */
}

/* Estilos para los botones de navegación */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.5rem 1rem; /* Aumenté el padding para mayor usabilidad */
  cursor: pointer;
  z-index: 10;
  border-radius: 50%; /* Bordes redondeados */
  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#prevBtn {
  left: 1rem;
}

#nextBtn {
  right: 1rem;
}

/* Estilos para el contenedor de los puntos indicadores */
.dots-container {
  text-align: center;
  margin-top: 1rem;
}

/* Estilos para los puntos indicadores */
.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 0.5rem; /* Aumenté el margen para mayor separación */
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave */
}

.dot.active, .dot:hover {
  background-color: #717171; /* Color más oscuro para el punto activo y al pasar el ratón */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .carousel-container {
    max-width: 100%;
  }

  .nav-btn {
    font-size: 1.5rem; /* Ajusté el tamaño de fuente para pantallas pequeñas */
    padding: 0.5rem; /* Ajusté el padding para pantallas pequeñas */
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}



h3{
  font-size: 32px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  color: #333; /* Color del texto */
  margin-bottom: 20px; /* Margen inferior */
  text-align: center; /* Alineación del texto */
  text-transform:none; /* Transformación del texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  line-height: 1.5; /* Altura de línea */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.map-container {
  position: relative;
  max-width: 1200px; /* Limita el ancho máximo en pantallas grandes */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 (más común para mapas) */
  height: 0;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%; /* Ajusta la altura según tus necesidades */
}


/* Container Styles */
#servicios {
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  transition: transform 0.3s ease;
}

#servicios:hover {
  transform: translateY(-5px);
}

/* Header Styles */
#servicios h3 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

/* Search Box Styles */
#busqueda {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1.1em;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#busqueda:focus {
  border-color: #25D366;
  box-shadow: 0 0 10px rgba(37, 211, 102, 0.3);
  outline: none;
}

/* Table Styles */
.container {
  overflow-x: auto;
}

#tabla-servicios {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#tabla-servicios th, 
#tabla-servicios td {
  padding: 15px;
  text-align: left;
  font-size: 1em;
}

#tabla-servicios th {
  background-color: #45b39d;
  color: #fff;
  font-weight: 600;
  border-bottom: 3px solid #128C7E;
}

#tabla-servicios tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tabla-servicios tr:hover {
  background-color: #e0f7fa;
  transition: background-color 0.3s ease;
}

#tabla-servicios td {
  border-bottom: 1px solid #ddd;
  color: #555;
}

/* Contador de Clientes Styles */
#contador-clientes {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background-color: #45b39d;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  color: #fff;
  position: relative;
  overflow: hidden;
}

#contador-clientes::before {
  content: '';
  position: absolute;
  top: -50px;
  left: -50px;
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: scale(0);
  animation: pulse 6s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}

#contador-clientes img {
  width: 80px;  /* Aumentado el tamaño del icono */
  height: auto;
  margin-bottom: 20px;
}

#contador-clientes .numero-clientes {
  font-size: 3.5em;  /* Aumentado el tamaño del número */
  font-weight: 800;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

#contador-clientes .texto-clientes {
  font-size: 1.6em;  /* Aumentado el tamaño del texto */
  font-weight: 600;
}

/* Responsive Design */
@media (max-width: 768px) {
  #contador-clientes .numero-clientes {
    font-size: 3em;
  }

  #contador-clientes .texto-clientes {
    font-size: 1.4em;
  }
}
h4 {
  font-size: 2.2rem;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  display: inline-block;
  background: #45b39d;
  transition: all 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(69, 179, 157, 0.3);
}

h4::before,
h4::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}

h4::before {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: scale(0, 1);
}

h4::after {
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: scale(1, 0);
}

h4:hover::before {
  transform: scale(1, 1);
}

h4:hover::after {
  transform: scale(1, 1);
}

h4:hover {
  background: #3a9c8a;
}

/* Responsive Design */
@media (max-width: 768px) {
  h4 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  h4 {
    font-size: 1.8rem;
  }
}





.productos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

figure {
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

figcaption {
  padding: 10px;
  text-align: center;
  color: #555;
  font-size: 16px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}

/* Container Styles for WhatsApp Form */
#Turnos {
  width: 90%;
  max-width: 800px; /* Same max-width as the table */
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

/* WhatsApp Header Styles */
.whatsapp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.whatsapp-header h2 {
  margin: 0;
  font-size: 1.75em;
  color: #25D366; /* Color de WhatsApp */
  font-weight: 600;
}

.whatsapp-header img {
  width: 60px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #25D366; /* Border color matching WhatsApp */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 15px 0 5px;
  font-weight: 600;
  color: #333;
  font-size: 1.1em;
}

form input[type="text"], 
form textarea {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input[type="text"]:focus, 
form textarea:focus {
  border-color: #25D366;
  box-shadow: 0 0 5px rgba(37, 211, 102, 0.3);
  outline: none;
}

/* Button Styles */
form button {
  background-color: #25D366; /* Color de WhatsApp */
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
  font-weight: 600;
}

form button:hover {
  background-color: #128C7E; /* Color de WhatsApp en hover */
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  #Turnos {
      padding: 15px;
  }
  
  form input[type="text"], 
  form textarea {
      font-size: 0.9em;
  }
  
  form button {
      font-size: 0.9em;
  }
}

footer {
  background-color: #2c3e50; /* Fondo elegante */
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); /* Sombra más profunda */
  color: #ecf0f1;
  font-family: 'Poppins', sans-serif; /* Fuente elegante */
  background-image: linear-gradient(135deg, #1a252f 50%, #34495e 50%);
}

.footer-section.links,
.social-container,
.company-info {
  margin-bottom: 30px;
  max-width: 300px;
  flex: 1;
  text-align: left;
}

.footer-section.links h3 {
  color: #ffffff;
  font-size: 1.8em;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-bottom: 2px solid #e74c3c; /* Línea roja para un toque de estilo */
  display: inline-block;
  padding-bottom: 10px;
  font-weight: bold;
}

.footer-section.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section.links ul li {
  margin-bottom: 15px;
  position: relative;
  font-size: 1.1em;
}

.footer-section.links ul li::before {
  content: '✂'; /* Tijeras como icono decorativo */
  color: #e74c3c;
  font-size: 1.3em;
  position: absolute;
  left: -30px;
  top: -2px;
  transition: transform 0.3s ease;
}

.footer-section.links ul li a {
  color: #bdc3c7;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.footer-section.links ul li a:hover {
  color: #2ecc71;
  padding-left: 8px;
  text-decoration: underline;
}

.footer-section.links ul li:hover::before {
  transform: rotate(20deg); /* Giro del icono al pasar el cursor */
}

.social-container p,
.company-info p {
  margin-bottom: 15px;
  font-size: 1.1em;
  color: #ecf0f1;
  font-weight: 500;
}

.social-container a,
.company-info a {
  color: #ecf0f1;
  font-size: 1.6em;
  margin-right: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-container a:hover,
.company-info a:hover {
  color: #e74c3c; /* Color rojo al pasar el cursor */
  transform: scale(1.3); /* Agrandar ícono al pasar el cursor */
}

.company-info .company-logo {
  max-width: 160px;
  margin-bottom: 15px;
  display: block;
  border-radius: 8px;
  border: 2px solid #ecf0f1; /* Bordes blancos para destacar el logo */
  transition: transform 0.3s ease;
}

.company-info .company-logo:hover {
  transform: rotate(-10deg); /* Pequeño giro al pasar el cursor */
}

@media (max-width: 768px) {
  footer {
      flex-direction: column;
      align-items: center;
  }

  .footer-section.links,
  .social-container,
  .company-info {
      max-width: 100%;
      text-align: center;
  }

  .footer-section.links ul li::before {
      left: -25px;
  }
}



.whatsapp-header {
  display: flex;
  align-items: center; /* Centra verticalmente */
}

.whatsapp-header h2 {
  margin-right: 10px; /* Espaciado entre el título y la imagen */
}

#Productos {
  margin-bottom: 20px; /* Espacio entre tarjetas */
}

h5{
  font-size: 18px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  color: #ffffff; /* Color del texto */
  margin-bottom: 20px; /* Margen inferior */
  text-align: center; /* Alineación del texto */
  text-transform:none; /* Transformación del texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  line-height: 1.5; /* Altura de línea */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.show {
  opacity: 1;
  transform: translateY(0);
}








