body {
  background: linear-gradient(135deg, #000000, #1a1a1a, #333333, #4d4d4d, #666666, #808080);
  background-size: 200% 200%;
  animation: gradientAnimation 20s ease infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh; /* La altura puede ser ajustada según tus necesidades */
  background-image: url('../IMAGENES/fondoInicio.jpg'); /* Ejemplo de URL de Google Images */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: backgroundAnimation 40s linear infinite; /* Animación de la imagen de fondo más lenta */
}

#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Filtro oscuro sobre la imagen */
  z-index: 0; /* Asegura que el filtro esté detrás del contenido */
}

#hero h1 {
  position: relative;
  color: white;
  font-size: 4em; /* Aumentado para mayor impacto */
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  z-index: 1; /* Asegura que el texto esté sobre la imagen */
  margin-bottom: 20px; /* Espacio entre el título y el contenido inferior */
  animation: textAnimation 2.5s ease-in-out; /* Animación del texto con duración ajustada */
}

/* Animación para la imagen de fondo */
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Animación para el texto */
@keyframes textAnimation {
  0% {
    transform: translateY(-30px);
    opacity: 0;
    filter: blur(10px); /* Desenfoque inicial */
  }
  50% {
    transform: translateY(10px);
    opacity: 0.7;
    filter: blur(5px); /* Desenfoque medio */
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0); /* Sin desenfoque */
  }
}

.carousel-container {
  position: relative;
  width: 80%; /* Disminuye el tamaño del carrusel al 80% del ancho del contenedor padre */
  max-width: 1200px;
  overflow: hidden;
  z-index: 1; /* Asegura que el carrusel esté sobre la imagen */
  transform: scale(0.8); /* Escala el contenedor del carrusel para hacerlo más pequeño */
  transform-origin: center; /* Asegura que la escala ocurra desde el centro */
  margin: 0 auto; /* Centra el carrusel en su contenedor */
}

.carousel-slide img {
  width: 100%;
  display: block;
  /* Las imágenes mantienen su tamaño relativo al contenedor del carrusel */
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .carousel-container {
    width: 100%; /* Ajusta el ancho del carrusel al 100% en pantallas pequeñas */
    transform: scale(0.9); /* Escala el carrusel ligeramente en pantallas pequeñas */
  }

  #hero {
    height: auto; /* Ajusta la altura automáticamente en pantallas pequeñas */
  }

  #inicio h1 {
    font-size: 1.8em;
    padding: 15px;
  }
} 

.navbar-custom {
  background-color: #2c3e50;
  transition: all 0.3s ease-in-out;
  padding: 15px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(135deg, #1a252f 50%, #34495e 50%);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: #ecf0f1;
  font-size: 1.1em;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-nav .nav-link:hover {
  color: #e74c3c;
  transform: translateY(-2px);
}

.navbar-custom .navbar-toggler {
  border-color: #ecf0f1;
  background-color: rgba(236, 240, 241, 0.1);
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236, 240, 241, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.logo {
  width: 95px;
  height: auto;
  animation: moverLogo 4.5s infinite alternate;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: rotate(-10deg);
}

@keyframes moverLogo {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-right: 15px;
}

.navbar-nav .nav-item::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e74c3c;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-nav .nav-item:hover::after {
  transform: scaleX(1);
}

/* Instagram Icon Styles */
.instagram-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  color: #ffffff; /* Color inicial del icono */
  font-size: 1.5em; /* Tamaño del icono */
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
  padding: 8px;
}

.instagram-icon:hover {
  color: #e1306c; /* Color del icono al pasar el cursor */
  transform: scale(1.2); /* Efecto de agrandado */
  box-shadow: 0 4px 8px rgba(225, 48, 108, 0.3); /* Sombra rosada suave */
  background-color: #ffffff; /* Fondo blanco en hover */
}

.instagram-icon i {
  transition: transform 0.3s ease;
}

.instagram-icon:hover i {
  transform: rotate(15deg); /* Rotación ligera del icono en hover */
}

/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
  .instagram-icon {
    margin-left: 10px; /* Reduce el margen en pantallas pequeñas */
    font-size: 1.2em; /* Disminuye el tamaño del icono en dispositivos móviles */
    padding: 6px; /* Reduce el padding para adaptarse a la pantalla */
  }

  .instagram-icon:hover {
    transform: scale(1.1); /* Disminuye el efecto de escala en dispositivos móviles */
  }

  .navbar-nav {
    margin-top: 10px; /* Añade espacio entre los enlaces de navegación y el icono */
  }
}


@media (max-width: 768px) {
  .navbar-custom {
    padding: 10px 15px;
  }

  .navbar-nav .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

h1 {
  font-size: 50px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  color: #ada8a8; /* Color del texto */
  margin-bottom: 20px; /* Margen inferior */
  text-align: center; /* Alineación del texto */
  text-transform:none; /* Transformación del texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  line-height: 1.5; /* Altura de línea */
  font-family: serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

/* Estilo adicional para el elemento h1 en dispositivos móviles */
@media (max-width: 768px) {
  h1 {
    font-size: 28px; /* Reducir tamaño de fuente en dispositivos móviles */
  }
}

.about-us-section {
  background-color: transparent;
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: #f9e39f;
  text-align: center;
  margin-bottom: 40px;
}

.about-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-text {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 800px;
}

.about-us-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

.about-us-text p:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .about-us-section {
    padding: 40px 0;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .about-us-text {
    padding: 20px;
  }

  .about-us-text p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.8rem;
  }

  .about-us-text {
    padding: 15px;
  }

  .about-us-text p {
    font-size: 0.85rem;
  }
}



/* Estilos para el contenedor del carrusel */
.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Aumenté el ancho máximo para mayor visibilidad */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #fff; /* Fondo blanco */
}

/* Estilos para los slides del carrusel */
.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Estilos para las imágenes dentro de los slides */
.carousel-slide img {
  flex: 0 0 100%;
  max-width: 100%;
  height: auto;
  border-radius: 1rem; /* Bordes redondeados */
}

/* Estilos para los botones de navegación */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.5rem 1rem; /* Aumenté el padding para mayor usabilidad */
  cursor: pointer;
  z-index: 10;
  border-radius: 50%; /* Bordes redondeados */
  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#prevBtn {
  left: 1rem;
}

#nextBtn {
  right: 1rem;
}

/* Estilos para el contenedor de los puntos indicadores */
.dots-container {
  text-align: center;
  margin-top: 1rem;
}

/* Estilos para los puntos indicadores */
.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 0.5rem; /* Aumenté el margen para mayor separación */
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave */
}

.dot.active, .dot:hover {
  background-color: #717171; /* Color más oscuro para el punto activo y al pasar el ratón */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .carousel-container {
    max-width: 100%;
  }

  .nav-btn {
    font-size: 1.5rem; /* Ajusté el tamaño de fuente para pantallas pequeñas */
    padding: 0.5rem; /* Ajusté el padding para pantallas pequeñas */
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}



h3{
  font-size: 32px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  color: #ffffff; /* Color del texto */
  margin-bottom: 20px; /* Margen inferior */
  text-align: center; /* Alineación del texto */
  text-transform:none; /* Transformación del texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  line-height: 1.5; /* Altura de línea */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#ubicacion {
  text-align: center; /* Centra el título */
  padding: 40px 0; /* Espaciado vertical alrededor de la sección */
}

.map-section {
  background-color: #fff; /* Fondo blanco para toda la sección */
  padding: 20px; /* Espaciado dentro del contenedor de la sección */
}

.map-container {
  position: relative;
  max-width: 600px; /* Ajusta el tamaño del contenedor para que coincida con el tamaño original del iframe */
  width: 100%;
  height: 450px; /* Mantiene la altura original del iframe */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Fondo blanco para el contenedor del mapa */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 15px;
}

/* Media Query para pantallas grandes */
@media (min-width: 1024px) {
  .map-container {
    max-width: 800px; /* Ajusta el tamaño del contenedor en pantallas grandes para que coincida con el tamaño original del iframe */
    height: 450px; /* Mantiene la altura original del iframe */
  }
}


.hidden {
  opacity: 0;
  transform: translateX(-30px); /* Efecto de deslizamiento horizontal desde la izquierda */transition: opacity 1s ease-out, transform 1s ease-out; /* Transición rápida y suave */
}

.show {
  opacity: 1;
  transform: translateX(0); /* Restaura la posición original */
}

#reviews {
  background-image: url('../IMAGENES/fondoReseñas.jpg'); /* Ajusta la ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}

#reviews::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

#reviews .content {
  max-width: 800px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
  padding: 40px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  transform: scale(0.9);
  opacity: 0;
  animation: scaleIn 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#reviews h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #ffba08; 
  font-weight: bold;
  animation: fadeInText 1s ease-in-out forwards;
}

#reviews h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: 700;
  animation: fadeInText 1s ease-in-out 0.2s forwards;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#reviews .qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  animation: fadeIn 1s ease-in-out 0.4s forwards;
}

#reviews .qr-code img {
  width: 150px;
  height: 150px;
}

#reviews .description {
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 40px;
  animation: fadeInText 1s ease-in-out 0.6s forwards;
}

#reviews .client-satisfaction p:first-child {
  font-size: 1.5em;
  margin: 10px 0;
  color: #ffba08; 
}

#reviews .client-satisfaction h3 {
  font-size: 1.5em;
  margin: 10px 0;
  font-weight: 700;
}

#reviews .client-satisfaction p:last-child {
  font-size: 1.2em;
  margin-top: 5px;
}

.productos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

figure {
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 04px8pxrgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  position: relative;
}

figure:hover {
  transform: translateY(-8px);
  box-shadow: 012px20pxrgba(0, 0, 0, 0.15);
  background-color: #f0f0f0;
}

img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

figure:hoverimg {
  transform: scale(1.05);
}

figcaption {
  padding: 10px;
  text-align: center;
  color: #555;
  font-size: 16px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
  position: relative;
  z-index: 10;
  opacity: 1;
}

figure:hoverfigcaption {
  transform: translateY(-5px);
  background-color: #ffffff;
  opacity: 1;
}

/* Optional: Adding a subtle scaling effect to the grid items */.gridfigure {
  transition: transform 0.3s ease;
}

.gridfigure:hover {
  transform: scale(1.02);
}


.consultar-btn {
  background-color: #28a745; /* Color de fondo más brillante */
  border: 2px solid #28a745; /* Borde del mismo color que el fondo */
  color: white; /* Color del texto */
  padding: 12px 24px; /* Espaciado interior ajustado */
  text-align: center; /* Centra el texto */
  text-decoration: none; /* Elimina el subrayado de texto */
  display: inline-block; /* Alineación en línea */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: 500; /* Peso de fuente moderado */
  border-radius: 25px; /* Bordes más redondeados */
  margin: 8px 4px; /* Espaciado exterior ajustado */
  cursor: pointer; /* Muestra el cursor de puntero */
  transition: all 0.3s ease; /* Transición suave para todos los cambios */
}

.consultar-btn:hover {
  background-color: white; /* Color de fondo en hover */
  color: #28a745; /* Color del texto en hover */
  border-color: #28a745; /* Color del borde en hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  transform: scale(1.05); /* Efecto de aumento en hover */
}

/* Container Styles for WhatsApp Form */
#Turnos {
  width: 90%;
  max-width: 800px; /* Same max-width as the table */
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

/* WhatsApp Header Styles */
.whatsapp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.whatsapp-header h2 {
  margin: 0;
  font-size: 1.75em;
  color: #25D366; /* Color de WhatsApp */
  font-weight: 600;
}

.whatsapp-header img {
  width: 60px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #25D366; /* Border color matching WhatsApp */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 15px 0 5px;
  font-weight: 600;
  color: #333;
  font-size: 1.1em;
}

form input[type="text"], 
form textarea {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input[type="text"]:focus, 
form textarea:focus {
  border-color: #25D366;
  box-shadow: 0 0 5px rgba(37, 211, 102, 0.3);
  outline: none;
}

/* Button Styles */
form button {
  background-color: #25D366; /* Color de WhatsApp */
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
  font-weight: 600;
}

form button:hover {
  background-color: #128C7E; /* Color de WhatsApp en hover */
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
  #Turnos {
      padding: 15px;
  }
  
  form input[type="text"], 
  form textarea {
      font-size: 0.9em;
  }
  
  form button {
      font-size: 0.9em;
  }
}

footer {
  background-color: #2c3e50; /* Fondo elegante */
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); /* Sombra más profunda */
  color: #ecf0f1;
  font-family: 'Poppins', sans-serif; /* Fuente elegante */
  background-image: linear-gradient(135deg, #1a252f 50%, #34495e 50%);
}

.footer-section.links,
.social-container,
.company-info {
  margin-bottom: 30px;
  max-width: 300px;
  flex: 1;
  text-align: left;
}

.footer-section.links h3 {
  color: #ffffff;
  font-size: 1.8em;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-bottom: 2px solid #e74c3c; /* Línea roja para un toque de estilo */
  display: inline-block;
  padding-bottom: 10px;
  font-weight: bold;
}

.footer-section.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section.links ul li {
  margin-bottom: 15px;
  position: relative;
  font-size: 1.1em;
}

.footer-section.links ul li::before {
  content: '✂'; /* Tijeras como icono decorativo */
  color: #e74c3c;
  font-size: 1.3em;
  position: absolute;
  left: -30px;
  top: -2px;
  transition: transform 0.3s ease;
}

.footer-section.links ul li a {
  color: #bdc3c7;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.footer-section.links ul li a:hover {
  color: #2ecc71;
  padding-left: 8px;
  text-decoration: underline;
}

.footer-section.links ul li:hover::before {
  transform: rotate(20deg); /* Giro del icono al pasar el cursor */
}

.social-container p,
.company-info p {
  margin-bottom: 15px;
  font-size: 1.1em;
  color: #ecf0f1;
  font-weight: 500;
}

.social-container a,
.company-info a {
  color: #ecf0f1;
  font-size: 1.6em;
  margin-right: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-container a:hover,
.company-info a:hover {
  color: #e74c3c; /* Color rojo al pasar el cursor */
  transform: scale(1.3); /* Agrandar ícono al pasar el cursor */
}

.company-info .company-logo {
  max-width: 160px;
  margin-bottom: 15px;
  display: block;
  border-radius: 8px;
  border: 2px solid #ecf0f1; /* Bordes blancos para destacar el logo */
  transition: transform 0.3s ease;
}

.company-info .company-logo:hover {
  transform: rotate(-10deg); /* Pequeño giro al pasar el cursor */
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
  }

  .footer-section.links,
  .social-container,
  .company-info {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-section.links ul li::before {
    left: -20px;
  }

  .footer-section.links ul li {
    margin-bottom: 10px;
    font-size: 1em;
  }

  .social-container a,
  .company-info a {
    font-size: 1.4em;
  }
  
  .company-info .company-logo {
    max-width: 120px;
  }
}

.footer-content h3 {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 10px;
  border: 1px solid #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}

.availability-table {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 1em;
  color: #fff;
}

.availability-table tr {
  border-bottom: 1px solid #555;
}

.availability-table td {
  padding: 10px 20px;
  text-align: left;
}

.availability-table td:nth-child(2) {
  text-align: right;
}

.availability-table tr.closed td {
  color: #b30000; /* Color para los días cerrados */
  border-bottom: 2px solid #b30000; /* Línea roja para el día cerrado */
}



.whatsapp-header {
  display: flex;
  align-items: center; /* Centra verticalmente */
}

.whatsapp-header h2 {
  margin-right: 10px; /* Espaciado entre el título y la imagen */
}

#Productos {
  margin-bottom: 20px; /* Espacio entre tarjetas */
}

h5{
  font-size: 18px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  color: #ffffff; /* Color del texto */
  margin-bottom: 20px; /* Margen inferior */
  text-align: center; /* Alineación del texto */
  text-transform:none; /* Transformación del texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  line-height: 1.5; /* Altura de línea */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.show {
  opacity: 1;
  transform: translateY(0);
}











